@CHARSET "windows-1255";

/* https://www.materialpalette.com/indigo/light-green */
@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Thin.woff2") format("woff2"),
    url("../font/roboto/Roboto-Thin.woff") format("woff"),
    url("../font/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Light.woff2") format("woff2"),
    url("../font/roboto/Roboto-Light.woff") format("woff"),
    url("../font/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../font/roboto/Roboto-Regular.woff") format("woff"),
    url("../font/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../font/roboto/Roboto-Medium.woff") format("woff"),
    url("../font/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../font/roboto/Roboto-Bold.woff") format("woff"),
    url("../font/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

body {
    font-family: Roboto;
    background-color: #eee;
    overflow-x: hidden;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background-color: #3F51B5;
    padding-top: 20px;
    z-index: 9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    background-color: #303F9F;
    z-index: 10;
}

header p {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

/* NAVBAR */

#navButton {
    transition: all .2s ease;
    background-image: url('../res/menu.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
}

#navButton:active {
    background-color: rgba(256, 256, 256, 0.2);
}

nav {
    transition: all .4s ease;
    background-color: #fff;
    overflow-y: scroll;
    display: block;
    position: fixed;
    top: 100px;
    bottom: 0px;
    left: -310px; /* -310 */
    z-index: 8;
    width: 300px;
    padding: 0px 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

nav.open {
    left: 0px;
}

nav::-webkit-scrollbar {
    display: none;
}

nav #user {
    padding-top: 25px;
    position: relative;
    height: 120px;
}

nav #user #avatar {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
    background-image: url('../res/guest.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav #user .action {
    position: absolute;
    display: block;
    top: 50%;
    left: 120px;
    line-height: 25px;
    transform: translate(0%, -50%);
}

nav #user a {
    text-decoration: none;
    color: #212121;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li a {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 20px center;
    padding: 20px;
    padding-left: 65px;
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

#navShade {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: none;
}

#navShade.open {
    display: block;
}

/* CONTENT */

#content {
    margin-top: 120px;
}

.err {
    color: red;
    font-size: 17px;
    font-weight: 600;
}

.notice {
    position: relative;
    text-align: center;
    padding: 25px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 24px;
}

[type='submit'] {
    color: transparent;
    -webkit-appearance: none;
    background-size: 60%;
    background: #8BC34A url('../res/download.png') no-repeat center;
    height: 80px;
    width: 80px;
    position: fixed;
    top: 60px;
    right: 8%;
    border: none;
    z-index: 12;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

#old-version.show {
    visibility: visible;
    animation-name: fromTop;
    animation-duration: .2s;
}

#old-version.hide {
    visibility: hidden;
    animation-name: toTop;
    animation-duration: .1s;
}

#old-version {
    visibility: hidden;
    color: #ffffff;
    font-weight: 300;
    -webkit-user-select: none;
    background-color: #747474;
    padding: 8px 15px;
    position: fixed;
    top: 160px;
    right: 8%;
    border-radius: 2px;
    -webkit-transform: translate(25%, 0);
    z-index: 11;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30), 0 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

@keyframes fromTop {
    from {
        -webkit-transform: translate(25%, -200%);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(25%, 0);
        opacity: 1;
    }
}

@keyframes toTop {
    from {
        visibility: visible;
        -webkit-transform: translate(25%, 0);
        opacity: 1;
    }
    to {
        visibility: hidden;
        -webkit-transform: translate(25%, -200%);
        opacity: 0;
    }
}

[type='submit']:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

[type='submit'].send {
    background-image: url('../res/send.png') !important;
}

[type='submit'].upload {
    background-image: url('../res/upload.png') !important;
}

form {
    text-align: center;
    padding-top: 25px;
}

.card {
    background-color: #fff;
    transition: all .3s ease;
    border-radius: 2px;
    width: 60vw;
    margin: 30px auto;
    padding: 25px 45px;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: auto;
}

.card p {
    padding: 0px 35px;
}

/* SHARE BAR */

#shareBar {
    background-color: #FFEB3B;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.53);
    text-align: center;
    width: 100vw;
    height: 50px;
    padding: 25px;
}

.shareLink {
    width: 32px;
    height: 32px;
    margin: 15px 5px 0px;
    display: inline-block;
    background-size: cover;
}

#twitter {
    background-image: url("../res/twitter.png");
}

#facebook {
    background-image: url("../res/facebook.png");
}

#whatsapp {
    background-image: url("../res/whatsapp.png");
}

#reddit {
    background-image: url("../res/reddit.png");
}

#googleplus {
    background-image: url("../res/googleplus.png");
}

/* OPTIONS */

.tab {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 20px 0px;
    margin: 0px 5px;
}

.tab:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.tabLabel {
    text-align: center;
    font-weight: 700;
}

.option {
    background-color: #fff;
    transition: all .3s ease;
    margin: 20px 10px;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.optionOpen {
    margin: 10px 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.optionOpen .optionLabel {
    font-weight: 700;
}

.optionLabel {
    cursor: pointer;
    padding: 20px 15px 20px 15px;
    position: relative;
    text-align: left;
    padding-left: 65px;
    background-image: url('../res/check0.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 92% center;
}

.sprite {
    position: absolute;
    background-image: url('../res/thumbnails.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin: 10px;
    border-radius: 50%;
}

.checkAll {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 10px;
    width: 35px;
    cursor: pointer;
}

.optionSubs {
    width: 100%;
    display: inline-block;
    position: relative;
    display: none;
}

.sub {
    display: inline-block;
    position: relative;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
}

.subInputLabel {
    transition: .2s ease all;
    text-align: left;
    padding: 5px;
    padding-left: 65px;
    position: absolute;
    cursor: pointer;
    background-color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 92% center;
}

[type="checkbox"]:checked + label {
    transition: .2s ease all;
    background-image: url('../res/checked.png') !important;
}

.subInputLabel p {
    position: relative;
    top: 50%;
}

.play {
    position: absolute;
    background-image: url('../res/play.png');
    background-position: center;
    background-size: contain;
    z-index: 5;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.stop {
    background-image: url('../res/stop.png') !important;
}

.subInput {

}

/* FORM */

.contanct {
    max-width: 300px !important;
}

[type=text], [type=password] {
    -webkit-appearance: none;
    border: none;
    outline: 0;
    display: block;
    margin: 10px 0;
    background-color: #fff;
    padding: 8px 15px;
    border-bottom: 2px solid #CCC;
    width: 90%;
    display: inline-block;
    font-size: 15px;
}

[type=text]:focus, [type=password]:focus {
    border-bottom: 2px solid #3F51B5;
}

textarea {
    -webkit-appearance: none;
    font-family: Roboto;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    margin: 10px 0;
    padding: 0px 15px;
    border-bottom: 2px solid #CCC;
    width: 90%;
    min-height: 100px;
    height: auto;
    display: inline-block;
    font-size: 15px;
}

textarea:focus {
    border-bottom: 2px solid #3F51B5;
}

.formErr {
    border-bottom: 2px solid red;
}

/* SIGNUP LOGIN CARD */

.suli {
    max-width: 400px;
    margin-top: 140px;
}

.tabbed {
    position: relative;
    padding-top: 40px;
}

.tabbed .tabsMenu {
    position: absolute;
    top: 0;
    left: 25px;
    right: 25px;
    border-bottom: 1px solid #CCC;
    text-align: center;
}

.tabbed .tabsMenu li {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    cursor: pointer;
}

.tabbed .tabsMenu li.current {
    border-bottom: 2px solid #18C1D7;
    color: #18C1D7;
}

.tabsCards li {
    display: none;
}

.tabsCards li.current {
    display: block;
}

.tabsCards form {
    marign: 0;
    padding: 0;
}

.signupButton {
    position: static;
    border-radius: 5px;
    background-image: none;
    box-shadow: 0px 6px 0px 0px #388E3C;
    height: auto;
    width: auto;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

/* TOP FORM */

.topForm {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 100;
    max-width: 300px !important;
}

.topForm form {
    position: relative;
    padding: 0;
    margin: 0;
}

.topForm [type=submit] {
    position: static;
    display: inline-block;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 50px;
    width: 100%;
    background-image: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0px 5px 0px 0px #689F38;
    font-style: italic;
}

.topForm [type=submit]:active {
    margin-top: 20px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 0px 0px #689F38;
}

.topForm h3 {
    clear: right;
}

.topForm .close {
    display: block;
    float: right;
    text-align: right;
    cursor: pointer;
}

.light {
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

/* GENERAL */

.center {
    text-align: center;
}

.right {
    float: right;
}

.align-left {
    text-align: left
}

.hidden {
    display: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

a {
    color: #06F;
    text-decoration: none;
    cursor: pointer;
}

.shade {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.highlight {
    color: #FFEB3B;
    font-weight: bold;
}

/* MENU ICONS */

nav ul li:nth-child(1) a {
    background-image: url('../res/home.png');
}

nav ul li:nth-child(2) a {
    background-image: url('../res/import.png');
    display: none;
}

nav ul li:nth-child(3) a {
    background-image: url('../res/tutorial.png');
}

nav ul li:nth-child(4) a {
    background-image: url('../res/stats.png');
}

nav ul li:nth-child(5) a {
    background-image: url('../res/ping.png');
}

nav ul li:nth-child(8) a {
    background-image: url('../res/info.png');
}

nav ul li:nth-child(9) a {
    background-image: url('../res/contact.png');
}

nav ul li:nth-child(10) a {
    background-image: url('../res/bug.png');
}

/* RESPONSIVE */

@media all and (max-width: 570px) {
    header {
        height: 100px;
    }

    nav {
        top: 120px;
    }

    #content {
        margin-top: 140px !important;
    }

    [type="submit"] {
        top: 80px;
    }

    .card p {
        padding: 0px;
    }
}

